*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(135, 236, 185);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    padding: 0px 20%;
    background-color: rgb(73, 136, 120);
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(8, 100, 93);
    font-weight: 500;
    font-size: 18px;
}

#pbtn{
    padding: 10px;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble{
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 18, 18, 0.627);
    font-weight: 500;
}

.bubble:hover{
    background-color: #066728;
    cursor: pointer;
}