*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.85;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#heading{
    margin-top: 80px;
}

#heading h1{
    margin-left: 30px;
    opacity: 0.6;
    font-family: "General Sans ";
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1{
    margin-left: 230px;
}

/* #heading h5{
    margin-left: 870px;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 17.1px;
} */

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-align: right;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 17.1px;
}

#smallheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#smallheading h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    font-size: 27px;

}

#second{
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 170vh;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.6;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    opacity: 0;
    pointer-events: none; /* prevents the img from blocking mousemove on .elem */
    height: 130%;
    width: auto;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

#about{
    display: flex;
    align-items: center;
    
    gap: 50px;
    color: #fff;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;
}

#textabout{
    width: 25rem;
}

#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;

}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 4px 16px;
    border: 1px solid #fff;
    border-radius: 9999px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}

#about img{
    width: 224px;
    height: 224px;

}

#subscribe{
    color: #fff;
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 8rem;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
}

#footerleft{
    display: flex;
    gap: 20px;
    color: #fff;
}

#footerright a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#footerright{
    display: flex;
    gap: 3rem;
}

#footerright a:hover{
    text-decoration: underline;
}

#talk{
    display: inline-block;
    width: fit-content;
    padding: 4px 16px;
    border: 1px solid transparent;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

#talk:hover{
    background-color: #fff;
    color: black;
    border-color: #404040;
}

#talk a{
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}
